# --------------- global --------------- #


CICD_ORGANIZATION='org'

CICD_APP_PREFIX=devops

CICD_ATF_TEST_USER_NAME=
CICD_ATF_TEST_USER_PASSWORD=

CICD_CI_USER_NAME=
CICD_CI_USER_PASSWORD=

CICD_CD_USER_NAME=
CICD_CD_USER_PASSWORD=


CICD_EB_WORKER_CLUSTER_NUM=1

CICD_ATF_ENABLED=true

CICD_CD_DEPLOY_ON_BUILD_PASS=true
# for testing, load update set directly and not via GIT
CICD_CD_DEPLOY_FROM_GIT=true

# set this to 'true' to only allow to deploy according to the below target definition
CICD_CD_STRICT_DEPLOYMENT=true

# default deployment target (can be dangerous if you have multiple purpose instances. eg. IT and Finance)
CICD_CD_DEPLOYMENT_TARGET=
# deployment target definition CICD_CD_DEPLOYMENT_TARGET_[INSTANCENAME] (instance short name)
CICD_CD_DEPLOYMENT_TARGET_DEV65672=devxxxxx.service-now.com
CICD_CD_DEPLOYMENT_TARGET_DEV54289=devyyyyy.service-now.com


CICD_EMBEDDED_BUILD=false

CICD_GIT_HOST=git@github.com:bmoers/
CICD_GIT_URL=https://github.com/bmoers/
# link to the branch template
CICD_GIT_BRANCH_LINK_TEMPLATE=${url}/tree/${branchName}

# override the system git user settings
CICD_GIT_USER_NAME=User Name
CICD_GIT_USER_EMAIL=user@email.com

# create a local git repo
CICD_GIT_ENABLED=true
# raise a pull request if build pass
CICD_GIT_PR_ENABLED=false
# delete update-set branch on merge
CICD_GIT_DELETE_BRANCH_ON_MERGE=true

# set this to 'true' to only allow to checkout fom master like specified below
CICD_GIT_STRICT_MASTER=true
# default git master source (can be dangerous if you have multiple purpose instances. eg. IT and Finance)
CICD_GIT_MASTER_SOURCE=devaaaaaa.service-now.com
# master source definition CICD_GIT_MASTER_SOURCE_[INSTANCENAME] (instance short name)
#CICD_GIT_MASTER_SOURCE_DEVELOPMENT=testing.service-now.com
#CICD_GIT_MASTER_SOURCE_TESTING=preprod.service-now.com
#CICD_GIT_MASTER_SOURCE_PREPROD=prod.service-now.com


CICD_SLACK_ENABLED=true
# webhook url
CICD_SLACK_WEBHOOK=
# override the channel of the webhook
CICD_SLACK_CHANNEL_OVERRIDE=

M00_START_DELAY=15000


# --------------- 02 - extract update-set --------------- #

M02_CICD_TEST_APP_ID=10d9a51bdbf32300fcf41780399619f2
M02_CICD_TEST_APP_NAME=CICD Global Test App
M02_CICD_TEST_US_ID=6ca7072fdbf32300fcf417803996194f

M2_CICD_TEST_REPO=sn_test_global_test_app
M2_CICD_SOURCE=https://devaaaa.service-now.com
M2_CICD_DEPLOY=https://devbbbb.service-now.com
M2_CICD_MASTER=https://devcccc.service-now.com

